@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.body{
     font-family: "Open Sans", sans-serif;
}
.leyout{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 25px;
    background: #F1F1F1;
    padding: 27px;
}
.revew{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 6px;
    text-align: center;
    align-items: center;
}
.revew img{
    max-width: 29px;
    padding-bottom: 3px;
}
.revew div{

font-size: 26px;
}
.heading{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.heading h6{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 17px 0;
    color: red;
    font-weight: 300;
}
.heading h1 {
    display: flex;
    justify-content: center;
    padding: 0 204px;
    font-size: 50px;
    text-align: center;
    font-weight: 900;
    text-shadow: 5px 5px 40px #0000008a;
}
.heading p {
    display: flex;
    justify-content: center;
    margin: 5px 62px;
    text-align: center;
    font-size: 32px;
    font-weight: 50;
    text-decoration: none;
    letter-spacing: 1px;
}
.btn{
    justify-content: center;
    text-align: center;
    margin-top: 23px;
    background-color: #0097E1;
    padding: 10px;
    display: flex;
    align-items: center;
    max-width: 100%;
    color: #fff;
    font-weight: bold;
    border-radius: 6px;
    font-size: 25px;
    letter-spacing: 2px;
    text-decoration: none;
}
.heading h5 {
    text-align: center;
    margin: 10px 0;
    font-size: 19px;
}
.starimg{

/* max-width: 33.33%; */

display: flex;

justify-content: center;
}
.starimg p{display: flex;align-items: center;font-size: 18px;}
.starimg img{
    width: 217px;
}
.bunle{
    margin: 20px 0;
    text-align: center;
}
.bunle h1{
    margin-bottom: 12px;
    font-size: 46px;
    text-shadow: 5px 5px 40px #0000008a;
}
.bunle p{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 22px;
}

.revewSection{
    font-family: "Anton", sans-serif;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 8px;
}
.revewSection h1{
    text-align: center;
    padding-top: 37px;
    font-size: 50px;
    font-weight: 800;
}
.revewSection p {
    padding: 18px 70px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 500;
}
.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.badge p{
    padding: 0;
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
}
.badge img{
    width: 35px;
    height: 100%;
}
.badge i{
      font-weight: 100;
    font-size: 30px;
}
.layout2{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.max-width{
     max-width: 1000px;
     margin: 0 auto;
     margin-bottom: 30px;
}
.education {
    text-align: center;
    
    background: #46BBD8;
    background: linear-gradient(180deg, rgba(70, 187, 216, 1) 0%, rgba(0, 131, 196, 1) 50%);
    padding: 20px 0;
}
.education a{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
}
.dublebagd{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-bottom: 29px;
}
.dublebagd img{
    width: 100px;
}
.dublebagd p{
    font-size: 54px;
    text-align: center;
    font-weight: 900;
}
.badgeimage {
    display: flex;
    justify-content: center;
    width: 600px;
    margin: auto;
}
.badgeimage img{
    border-radius: 10px;
}
.subheading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0;
    max-width: 1000px;
}
.subheading i{
    font-size: 43px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 14px;
}
.subheading p {
    max-width: 822px;
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
    font-weight: 200;
    letter-spacing: 2px;
    margin: auto;
}
.feedback{
    display: flex;
    /* gap: 10px; */
    margin-top: 20px;
    max-width: 600px;
    /* margin-bottom: 15px; */
}
.feedback .castomar{
    max-width: 91px;
    flex-basis: 25%;
}
.feedback .castomar img{
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    max-width: 70px;
}
.textRevew{
    display: flex;
    flex-direction: column;
    /* max-width: 56%; */
    flex-basis: 75%;
}
.textRevew .feedbackcontent{
    background-color: #F1F1F1;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.textRevew .feedbackcontent h3{
    margin-bottom: 13px;
    font-size: 29px;
}
.textRevew .feedbackcontent p{
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
}
.reimg img{
    border-radius: 10px;
}
.revewSection{
    
}
.st{
    font-family: "Anton", sans-serif;
    background-color: #fff;
    border-radius: 8px;
    padding: 0 159px;
    text-align: center;
    margin-top: 19px;
}
.st h1{
    text-align: center;
    /* padding-top: 37px; */
    font-size: 50px;
    font-weight: 900;
}
.layout3{
    
}
.realimgfeadbg{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* margin: auto; */
}



/*-secendrvwpt-*/
.secendrvwpt{
    
margin-bottom: 40px;
}
.width{
    max-width: 1000px;
    margin: auto;
}
.wt h1 {
    font-family: "Anton", sans-serif;
    text-align: center;
    font-size: 41px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 95px;
}
.colam{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    
    width: 100%;
    gap: 26px;
    margin: 10px 0;
}
.colamrg{

max-width: 45%;
}
.colamrg2{
    max-width: 45%;
}
.colimg{
    /* max-width: 45%; */
    background-color: #F1F1F1;
    border-radius: 20px;
    margin-bottom: 20px;
}
.himg{
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.name{
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 23px;
    font-weight: 600;
    margin-top: 10px;
}
.name p{}
.veri{
    margin-top: 5px;
}
.veri img{
    max-width: 26px;
}
.veri strong{}
.date{
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 5px;
}
.star{
    margin-top: 5px;
}
.star img{
    width: 22px;
}
.prg{
    padding: 0 20px 20px;
}
.prg p{
    font-size: 20px;
}


/*-feture-*/

.feture{
    margin: 35px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.feture .fetureimg{}
.feture .fetureimg img{
    max-width: 300px;
}
.feturtitle{
    
text-align: center;
    
max-width: 760px;
    
margin-top: 10px;
    
padding: 0 100px;
}
.feturtitle h2{
    margin-bottom: 20px;
    font-size: 36px;
    text-align: center;
    /* padding: 0 100px; */
}
.feturtitle p{
    font-size: 24px;
    font-weight: 500;
}
.percent {
    /* margin: auto; */
    display: flex;
    justify-content: center;
}
.primg{
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    margin-top: 10px;
    border-bottom: 1px solid black;
    padding: 18px 0px;
}
.primg img{

max-width: 100px;
}
.primg p{
    font-size: 21px;
    font-weight: 500;
}
.def {
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}
.wuei {
    font-size: 40px;
    text-align: center;
    margin: 30px 0;
    text-transform: capitalize;
}

.table {
    max-width: 800px;
    margin: auto;
    margin-bottom: 100px;
}
.table .row{
    display: flex;
}
.table .row div{
    /* border: 1px solid #001f52; */
    padding: 15px 0;
    flex-grow: 0;
}
.table .row .colam1{
    flex-basis: 46%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table .row .colam2{
    flex-basis: 27%;
    background-color: #002768;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table .row .colam3{
    flex-basis: 27%;
    color: #002768;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table .row img{
    height: 75px;

}
.transfromtranslate{
    transform: translate(10px, -36px);
}
.table .row svg{
    width: 40px;
    height: 31px;
}
.table .row p{    
margin: 0;    
/*font-weight: 600;*/   
font-size: 25px;
}
.table .row strong{}

.radius-tlr{
    border-radius:30px 30px 0 0 ;
}
.radius-tl{
    border-radius: 30px 0 0 0;
}
.radius-bl{
    border-radius: 0 0 0 30px ;
}
.radius-br{
    border-radius: 0 0 30px 0;
}
.border-tl,
.border-t,
.border-tr{
    border-color: #001f52;
    border-style: solid;
    border-width: 0;

}
.border-tl{
    border-top-width: 1px;
    border-left-width: 1px;
}
.border-t{
    border-top-width: 1px;
}
.border-tr{
    border-top-width: 1px;
    border-right-width: 1px;
}
.border-b{
    border-bottom-width: 1px;
}
.erf {
    max-width: 400px !important;
    border-radius: 6px;
}
.wef{
    text-align: center;
    font-size: 40px;
    padding: 19px 111px 0;
}
.wef p{
    text-align: center;
}
.er {
    text-align: center;
    font-size: 20px;
}
.er img {
    margin-top: 40px;
    margin-bottom: 11px;
    width: 200px;
}